<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css ">
        <link rel="stylesheet" href="https://use.fontawesome.com/9504dda1f9.css">
        <script src="https://use.fontawesome.com/c27c3ea163.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <style>

        </style>
        {% endblock %}
    </head>
    <body>
        {% include 'layouts/nav.html.twig' %}

        {% block body %} {% endblock %}

        {% block javascripts %}{% endblock %}
    </body>

</html>
